.signUp__container{
    height: 100vh;
/*     background-image: url("../assets/circle-scatter-haikei.svg");
 */    background-repeat: no-repeat;
    object-fit: cover;
    padding-top: 2vh;
    margin-top: 0;
/*     background-color: aqua;
 */    .formContainer{
background-color: white;
border-radius: 5px;
padding:0 1rem 1.5rem 1rem;    }
}